.level-2,
.level-3,
.level-4,
.level-5,
.level-6 {
  @apply my-3 pl-4 border-l-4;
  background-color: rgba(255, 255, 255, 0.05); /* светлая дымка */
}

.dark .level-2,
.dark .level-3,
.dark .level-4,
.dark .level-5,
.dark .level-6 {
  background-color: rgba(0, 0, 0, 0.05); /* полупрозрачный чёрный */
}